.react-pdf__message {
  user-select: none;
  color: rgba(0, 0, 0, 0.54);
  text-align: center;
  padding: 24px;
}

.react-pdf__Page__textContent mark {
  color: transparent;
  background: rgba(33, 150, 243, 0.25);
}
